//fonts
$default-font: "montserrat-p", sans-serif;

//colors
$color-accent: #c20022;
$color-accent-darker: #720014;
$color-accent-lighter: #ef233c;

$color-black: #23232a;
$color-dark-gray: #39393f;
$color-mid-gray: #919194;
$color-light-gray: #c8c8ca;
$color-lighter-gray: #e9e9ea;
$color-white: #fff;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$gutter: $grid-gutter-width;
